In [ ]:
%%sql

CREATE TABLE raw_data.daily_boxoffice (
    voting_date DATE,
    ranking INTEGER,
    title VARCHAR(150),
    released_date DATE,
    sales INT8,
    sales_market_portion FLOAT8,
    sales_comp_yesterday INT8,
    sales_fluctuation_rate FLOAT8,
    total_sales INT8,
    audience_num INT8,
    audience_num_delta INT8,
    audience_num_fluctuatation_rate FLOAT8,
    total_audience INT8,
    screen_num INT8,
    total_played_time INT8,
    country_of_origin VARCHAR(150),
    country VARCHAR(225),
    production_comp_name VARCHAR(225),
    distributor_name VARCHAR(225),
    film_ratings VARCHAR(225),
    genre TEXT,
    director TEXT,
    performers VARCHAR(10000)
);
COPY raw_data.daily_boxoffice 
FROM 's3://de-test-bucket-lsw/csv_files/combined_daily_data.csv'
CREDENTIALS 'aws_iam_role=YOUR_IAM_ROLE'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql


CREATE TABLE raw_data.genre_data (
    voting_date DATE,
    genre TEXT,
    audience_num INT8
);

COPY raw_data.genre_data 
FROM 's3://de-test-bucket-lsw/csv_files/daily_genre_data.csv'
CREDENTIALS 'aws_iam_role=YOUR_IAM_ROLE'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1;