In [1]:
%load_ext sql

In [2]:
%sql postgresql://admin:password@endpoint

In [3]:
%%sql

CREATE SCHEMA raw_data;

 * postgresql://admin:***@hwan-workspace.445567069161.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [4]:
%%sql

CREATE TABLE raw_data.movie_total_sales (
        rank_num INTEGER NOT NULL,
        title VARCHAR(255) NOT NULL,
        director VARCHAR(255),
        production_comp_name VARCHAR(255),
        importer_name VARCHAR(255),
        distributor_name VARCHAR(255),
        released_date DATE,
        movie_type VARCHAR(50),
        movie_format VARCHAR(50),
        country VARCHAR(50),
        screen_num INTEGER,
        total_sales NUMERIC NOT NULL,
        audience_num NUMERIC NOT NULL,
        seoul_total_sales NUMERIC,
        seoul_audience_num NUMERIC,
        genre VARCHAR(50),
        film_ratings VARCHAR(50),
        category VARCHAR(50)
);

 * postgresql://admin:***@hwan-workspace.445567069161.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [5]:
%%sql

CREATE TABLE raw_data.yesterday_audience (
        rank_num INTEGER NOT NULL,
        ranking INTEGER NOT NULL,
        day_increase_decrease INTEGER,
        new_entry VARCHAR(50),
        code NUMERIC,
        title VARCHAR(255) NOT NULL,
        released_date DATE,
        day_sales NUMERIC,
        day_sales_ratio FLOAT,
        day_sales_increase_decrease INTEGER,
        day_sales_increase_decrease_ratio FLOAT,
        total_sales NUMERIC,
        day_audience_num NUMERIC,
        day_audience_increase_decrease NUMERIC,
        day_audience_increase_decrease_ratio FLOAT,
        total_audience_num NUMERIC,
        day_screen_num INTEGER,
        day_screen_show INTEGER
);

 * postgresql://admin:***@hwan-workspace.445567069161.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [8]:
%%sql

select * from raw_data.yesterday_audience limit 10;

 * postgresql://admin:***@hwan-workspace.445567069161.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(1, 1, 0, 'OLD', Decimal('20228796'), '하얼빈', datetime.date(2024, 12, 24), Decimal('2140747510'), 43.1, 1271022760, 146.1, Decimal('33400404380'), Decimal('218547'), Decimal('127147'), 139.1, Decimal('3498562'), 1423, 6378),
 (2, 2, 0, 'OLD', Decimal('20200142'), '소방관', datetime.date(2024, 12, 4), Decimal('529272680'), 10.6, 273164300, 106.7, Decimal('32940350010'), Decimal('55119'), Decimal('28395'), 106.3, Decimal('3504563'), 884, 2157),
 (3, 3, 0, 'OLD', Decimal('20190300'), '보고타: 마지막 기회의 땅', datetime.date(2024, 12, 31), Decimal('431379240'), 8.7, 233245780, 117.7, Decimal('2638067420'), Decimal('45091'), Decimal('23886'), 112.6, Decimal('285695'), 779, 2577),
 (4, 4, 1, 'OLD', Decimal('20244167'), '수퍼 소닉3', datetime.date(2025, 1, 1), Decimal('386163580'), 7.8, 281974680, 270.6, Decimal('1508101990'), Decimal('42122'), Decimal('30976'), 277.9, Decimal('162259'), 882, 1917),
 (5, 5, -1, 'OLD', Decimal('20246361'), '뽀로로 극장판 바닷속 대모험', datetime.date(2025, 1, 1), Decimal('299126140'), 6.0, 153998920, 106.1, Decimal('1419614230'), Decimal('34876'), Decimal('17734'), 103.5, Decimal('162712'), 791, 1495),
 (6, 6, 0, 'OLD', Decimal('20240193'), '무파사: 라이온 킹', datetime.date(2024, 12, 18), Decimal('201044480'), 4.0, 121039620, 151.3, Decimal('7294760110'), Decimal('21326'), Decimal('12430'), 139.7, Decimal('737293'), 634, 944),
 (7, 7, 0, 'OLD', Decimal('20245977'), '극장판 짱구는 못말려: 우리들의 공룡일기', datetime.date(2024, 12, 18), Decimal('172028500'), 3.5, 90418780, 110.8, Decimal('5945574420'), Decimal('18172'), Decimal('9604'), 112.1, Decimal('631226'), 534, 785),
 (8, 8, 1, 'OLD', Decimal('20240737'), '모아나 2', datetime.date(2024, 11, 27), Decimal('158530460'), 3.2, 87541540, 123.3, Decimal('31749548230'), Decimal('16392'), Decimal('8898'), 118.7, Decimal('3439024'), 572, 795),
 (9, 9, 1, 'OLD', Decimal('20247693'), '위키드', datetime.date(2024, 11, 20), Decimal('150394230'), 3.0, 75564290, 101.0, Decimal('20774203280'), Decimal('14771'), Decimal('7285'), 97.3, Decimal('2108579'), 354, 489),
 (10, 10, -2, 'OLD', Decimal('20244850'), '시빌 워: 분열의 시대', datetime.date(2024, 12, 31), Decimal('144598400'), 2.9, 57899900, 66.8, Decimal('732947510'), Decimal('13723'), Decimal('5481'), 66.5, Decimal('70649'), 495, 824)]