In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql postgresql://admin:2ndTeam1!@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [3]:
%%sql

CREATE SCHEMA raw_data;

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [4]:
%%sql

CREATE TABLE raw_data.movie_total_sales (
        rank_num INTEGER NOT NULL,
        title VARCHAR(255) NOT NULL,
        director VARCHAR(255),
        production_comp_name VARCHAR(255),
        importer_name VARCHAR(255),
        distributor_name VARCHAR(255),
        released_date DATE,
        movie_type VARCHAR(50),
        movie_format VARCHAR(50),
        country VARCHAR(50),
        screen_num INTEGER,
        total_sales NUMERIC NOT NULL,
        audience_num NUMERIC NOT NULL,
        seoul_total_sales NUMERIC,
        seoul_audience_num NUMERIC,
        genre VARCHAR(50),
        film_ratings VARCHAR(50),
        category VARCHAR(50)
);

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [5]:
%%sql

CREATE TABLE raw_data.yesterday_audience (
        voting_date DATE NOT NULL,
        rank_num INTEGER NOT NULL,
        ranking INTEGER NOT NULL,
        day_increase_decrease INTEGER,
        new_entry VARCHAR(50),
        code NUMERIC,
        title VARCHAR(255) NOT NULL,
        released_date DATE,
        day_sales NUMERIC,
        day_sales_ratio FLOAT,
        day_sales_increase_decrease INTEGER,
        day_sales_increase_decrease_ratio FLOAT,
        total_sales NUMERIC,
        day_audience_num NUMERIC,
        day_audience_increase_decrease NUMERIC,
        day_audience_increase_decrease_ratio FLOAT,
        total_audience_num NUMERIC,
        day_screen_num INTEGER,
        day_screen_show INTEGER
);

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]