In [1]:
%load_ext sql

In [4]:
import const
%sql $const.REDSHIFT_DSN

In [3]:
%%sql

CREATE SCHEMA raw_data;

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [4]:
%%sql

CREATE TABLE raw_data.movie_total_sales (
        rank_num INTEGER NOT NULL,
        title VARCHAR(255) NOT NULL,
        director VARCHAR(255),
        production_comp_name VARCHAR(255),
        importer_name VARCHAR(255),
        distributor_name VARCHAR(255),
        released_date DATE,
        movie_type VARCHAR(50),
        movie_format VARCHAR(50),
        country VARCHAR(50),
        screen_num INTEGER,
        total_sales NUMERIC NOT NULL,
        audience_num NUMERIC NOT NULL,
        seoul_total_sales NUMERIC,
        seoul_audience_num NUMERIC,
        genre VARCHAR(50),
        film_ratings VARCHAR(50),
        category VARCHAR(50)
);

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [5]:
%%sql

CREATE TABLE raw_data.yesterday_audience (
        voting_date DATE NOT NULL,
        rank_num INTEGER NOT NULL,
        ranking INTEGER NOT NULL,
        day_increase_decrease INTEGER,
        new_entry VARCHAR(50),
        code NUMERIC,
        title VARCHAR(255) NOT NULL,
        released_date DATE,
        day_sales NUMERIC,
        day_sales_ratio FLOAT,
        day_sales_increase_decrease INTEGER,
        day_sales_increase_decrease_ratio FLOAT,
        total_sales NUMERIC,
        day_audience_num NUMERIC,
        day_audience_increase_decrease NUMERIC,
        day_audience_increase_decrease_ratio FLOAT,
        total_audience_num NUMERIC,
        day_screen_num INTEGER,
        day_screen_show INTEGER
);

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [5]:
%%sql

SELECT * from raw_data.yesterday_audience

 * postgresql://admin:***@team1-workgroup.490004631923.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2025, 1, 7), 1, 1, 0, 'OLD', Decimal('20228796'), '하얼빈', datetime.date(2024, 12, 24), Decimal('453489880'), 36.6, -77755120, -14.6, Decimal('36080853730'), Decimal('48912'), Decimal('-7736'), -13.7, Decimal('3778075'), 1310, 5281),
 (datetime.date(2025, 1, 7), 2, 2, 0, 'OLD', Decimal('20200142'), '소방관', datetime.date(2024, 12, 4), Decimal('153547120'), 12.4, -7949280, -4.9, Decimal('33715987470'), Decimal('16456'), Decimal('-966'), -5.5, Decimal('3585844'), 744, 1933),
 (datetime.date(2025, 1, 7), 3, 3, 0, 'OLD', Decimal('20190300'), '보고타: 마지막 기회의 땅', datetime.date(2024, 12, 31), Decimal('98392800'), 7.9, -25652200, -20.7, Decimal('3215557360'), Decimal('11022'), Decimal('-2949'), -21.1, Decimal('347370'), 694, 1958),
 (datetime.date(2025, 1, 7), 4, 4, 0, 'OLD', Decimal('20246361'), '뽀로로 극장판 바닷속 대모험', datetime.date(2025, 1, 1), Decimal('56211520'), 4.5, -3911000, -6.5, Decimal('1806190590'), Decimal('7157'), Decimal('-98'), -1.4, Decimal('208761'), 528, 843),
 (datetime.date(2025, 1, 7), 5, 5, 0, 'OLD', Decimal('20244167'), '수퍼 소닉3', datetime.date(2025, 1, 1), Decimal('61526140'), 5.0, 6657420, 12.1, Decimal('1959267030'), Decimal('6998'), Decimal('955'), 15.8, Decimal('211925'), 641, 1154),
 (datetime.date(2025, 1, 7), 6, 6, 0, 'OLD', Decimal('20245977'), '극장판 짱구는 못말려: 우리들의 공룡일기', datetime.date(2024, 12, 18), Decimal('54108960'), 4.4, 2800340, 5.5, Decimal('6206125100'), Decimal('5884'), Decimal('379'), 6.9, Decimal('658950'), 456, 668),
 (datetime.date(2025, 1, 7), 7, 7, 0, 'OLD', Decimal('20240193'), '무파사: 라이온 킹', datetime.date(2024, 12, 18), Decimal('41498280'), 3.3, -5672840, -12.0, Decimal('7569345890'), Decimal('4727'), Decimal('-637'), -11.9, Decimal('767071'), 475, 668),
 (datetime.date(2025, 1, 7), 8, 8, 1, 'OLD', Decimal('20240737'), '모아나 2', datetime.date(2024, 11, 27), Decimal('43483800'), 3.5, 1301160, 3.1, Decimal('31979448450'), Decimal('4726'), Decimal('158'), 3.5, Decimal('3463144'), 421, 575),
 (datetime.date(2025, 1, 7), 9, 9, -1, 'OLD', Decimal('20247693'), '위키드', datetime.date(2024, 11, 20), Decimal('42934800'), 3.5, -3800830, -8.1, Decimal('20970074060'), Decimal('4386'), Decimal('-560'), -11.3, Decimal('2128358'), 341, 481),
 (datetime.date(2025, 1, 7), 10, 10, 0, 'OLD', Decimal('20244850'), '시빌 워: 분열의 시대', datetime.date(2024, 12, 31), Decimal('37640800'), 3.0, -5896300, -13.5, Decimal('918023130'), Decimal('3576'), Decimal('-858'), -19.4, Decimal('88383'), 473, 697)]